@tailwind base;
@tailwind components;

/* Custom stuffs here */
.strum {
  @apply transform scale-75 hover:scale-95 active:scale-90 transition-transform ease-in duration-75 rounded-full w-16 h-16 border-8 md:ring-8 flex justify-center items-center cursor-pointer;
}

.strum-down {
  @apply bg-blue-400 border-blue-500 ring-blue-600  text-blue-800;
}

.strum-up {
  @apply bg-purple-400 border-purple-500 ring-purple-600  text-purple-800;
}

.strum-inactive {
  @apply bg-coolGray-400 border-coolGray-500 ring-coolGray-600 text-coolGray-800 opacity-25;
}

@tailwind utilities;
