@tailwind base;
@tailwind components;

/* Custom stuffs here */
.strum {
  @apply transform;
  @apply scale-75;
  @apply rounded-full;
  @apply w-16;
  @apply h-16;
  @apply border-8;
  @apply md:ring-8;
  @apply flex;
  @apply justify-center;
  @apply items-center;
  @apply cursor-pointer;

  @apply fine:transition-transform;
  @apply fine:ease-in;
  @apply fine:duration-75;
  @apply fine:hover:scale-90;
}

.strum-down {
  @apply bg-amber-400;
  @apply border-amber-500;
  @apply ring-amber-600;
  @apply text-black;
}

.strum-up {
  @apply bg-cyan-400;
  @apply border-cyan-500;
  @apply ring-cyan-600;
  @apply text-black;
}

.strum-inactive {
  @apply bg-coolGray-300;
  @apply border-coolGray-400;
  @apply ring-coolGray-500;
  @apply dark:bg-coolGray-400;
  @apply dark:border-coolGray-500;
  @apply dark:ring-coolGray-600;
  @apply text-black;
  @apply opacity-50;
}

.strum-strum-up {
  background-color: yellowgreen !important;
}

.strum-strum-down {
  background-color: yellowgreen !important;
}

.beat-title {
  @apply border-b-2;
  @apply border-coolGray-200;
  @apply dark:border-coolGray-700;
  @apply mb-4;
  @apply text-2xl;
  @apply text-coolGray-600;
  @apply dark:text-coolGray-400;
  @apply font-bold;
}

.button-base {
  @apply bg-coolGray-50;
  @apply dark:bg-coolGray-700;
  @apply py-2;
  @apply px-4;
  @apply rounded-lg;
  @apply text-coolGray-500;
  @apply dark:text-coolGray-100;
  @apply transform;
  @apply transition-transform;
  @apply ease-in;
  @apply duration-75;
  @apply hover:scale-105;
  @apply active:scale-95;
  @apply shadow-sm;
}

.button-disabled {
  @apply opacity-25;
  @apply shadow-none;
  @apply hover:scale-100;
  @apply active:scale-100;
  @apply active:scale-100;
  @apply cursor-not-allowed;
}

@tailwind utilities;
