<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Strum Practice | Guitar Helper</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body class="bg-coolGray-800">
    <div class="max-w-2xl mx-auto py-20 space-y-20 p-4">
      <h1 class="text-8xl font-thin text-transparent bg-gradient-to-r from-blue-500 to-purple-800 bg-clip-text">
        Strum Practice
      </h1>

      <div class="grid grid-cols-4 gap-4">
        <div class="space-y-4">
          <h2 class="white border-b-2 border-coolGray-700 mb-4 text-2xl text-blue-200 font-extrabold">1</h2>
          <div class="flex">{% strum "down" true %} {% strum "up" false %}</div>
        </div>
        <div>
          <div class="space-y-4">
            <h2 class="white border-b-2 border-coolGray-700 mb-4 text-2xl text-blue-200 font-extrabold">2</h2>
            <div class="flex">{% strum "down" true %} {% strum "up" false %}</div>
          </div>
        </div>
        <div>
          <div class="space-y-4">
            <h2 class="white border-b-2 border-coolGray-700 mb-4 text-2xl text-blue-200 font-extrabold">3</h2>
            <div class="flex">{% strum "down" true %} {% strum "up" true %}</div>
          </div>
        </div>
        <div>
          <div class="space-y-4">
            <h2 class="white border-b-2 border-coolGray-700 mb-4 text-2xl text-blue-200 font-extrabold">4</h2>
            <div class="flex">{% strum "down" true %} {% strum "up" true %}</div>
          </div>
        </div>
      </div>
      <p class="text-coolGray-700 font-light text-sm">
        Made by
        <a class="text-coolGray-600 hover:text-blue-500" href="https://brandonstephens.me">Brandon Stephens</a>
        | Inspiration from
        <a class="text-coolGray-600 hover:text-purple-500" href="https://www.youtube.com/watch?v=CjM5fyXoV8w"
          >JustinGuitar</a
        >
      </p>
    </div>

    <script>
      const pattern = {
        1: {
          down: true,
          up: false,
        },

        2: {
          down: true,
          up: false,
        },
        3: {
          down: true,
          up: true,
        },
        4: {
          down: true,
          up: true,
        },
      }
    </script>
  </body>
</html>
