---
layout: base.liquid
---

<main id="strumPattern" class="grid grid-cols-4 gap-4">
  <div class="space-y-4">
    <h2 class="beat-title"><span class="sr-only">beat</span> 1</h2>
    <div class="flex">{% strum 1 %} {% strum 2 %}</div>
  </div>

  <div>
    <div class="space-y-4">
      <h2 class="beat-title"><span class="sr-only">beat</span> 2</h2>
      <div class="flex">{% strum 3 %} {% strum 4 %}</div>
    </div>
  </div>

  <div>
    <div class="space-y-4">
      <h2 class="beat-title"><span class="sr-only">beat</span> 3</h2>
      <div class="flex">{% strum 5 %} {% strum 6 %}</div>
    </div>
  </div>

  <div>
    <div class="space-y-4">
      <h2 class="beat-title"><span class="sr-only">beat</span> 4</h2>
      <div class="flex">{% strum 7 %} {% strum 8 %}</div>
    </div>
  </div>
</main>
